body{
     
    display: block;
    background-image:url(image/background2.png);
    background-repeat: no-repeat;
    animation: defilementHorizontal 30s linear infinite;
    /* background-color: black; */
   background-position: center;
   
background-color:#131212;
font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@keyframes defilementHorizontal {
    0%{
        background-position-y: 0%;
    }
    100% {
        background-position-x: 100%;
    }
}

header{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
   
}
h1{
    text-align: center;
    color: #9fef00;
    font-style:italic
}


#nom{
    color: #9fef00;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 30px;
}
.entête{
    width:30px;
}

#mail{
    height: 30px;
    width: 30px;
    margin-top: 10px;

}

.logo{
    display: flex;
    justify-content: right;
}
p{
    color:#9fef00;
    margin-right: 870px;
    padding-left:10px ;
}


#portrait{
   display: flex;
    width: 220px;
    height: 220px;
    margin-top: 15px;
    padding-left: 10px;
    border-radius: 130px;
}

#description{
    margin-top: 100px;
    text-align: left;
    width: 25vw;
    line-height: 30px;
    
}
.imagePortrait{
    display: flex;
    justify-content:center;
}